<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{pageTitle}}</title>
</head>
<body>
    <h1>{{welcomeMessage}}</h1>
    <p>Esto es un mensaje que ha sido actualizado</p>
    {{> footer}}
</body>

<style>
    h1{
        color:aqua
    }
    footer{
        display: grid;
        padding: 20px;
        border: solid 2px black;
        justify-items: center;
        align-items: center;
    }
</style>
</html>